<!DOCTYPE html>
<html>
  <head>
    <title>DietPlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <header class="simple-header">
      <div class="simple-header-left">
        <h1 class="simple-logo">Fresh Basket</h1>
      </div>
    </header>

    <% flash.each do |message| %>
      <p class="flash-message"><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
