<!-- app/views/layouts/owner.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Diet Plan Owner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <%= render 'layouts/owner_header' %>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
